body {
	font-family: "Titillium Web", sans-serif;
	color: #2d3c49;
	font-weight: 400;
}

@import url(http://weloveiconfonts.com/api/?family=fontawesome|zocial);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

.hr-rule {
    border-bottom: 1px solid black;
}

.logo-img {
	height: 100px;
	float: left;
}

.text-thin {
	font-weight: 300;
}

.text-light {
	color: #7d97ad;
}

.portfolio-logo {
	margin: 10px
}

.title-major {
	font-size: 60px;
}

.svg-image {
	width: 100% \9;
}

.social a {
  margin: 0 1em 0 0;
}

.social a:last-of-type {
  margin: 0;
}

.social {
  line-height: 2em;
}

footer {
  text-align: center;
  font-size: 3em;
}